<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>{% block title %}Home{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link href="http://bootstrap-3.ru/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'base.css' %}"/>
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Tracker</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-tasks"></span> Tasks <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'task_list' folder='without' %}"> Without Folder</a></li>
                                    <li><a href="{% url 'task_list' folder='executable' %}"> Executable Tasks</a></li>
                                    <li><a href="{% url 'task_list' folder='archive' %}"> Archive</a></li>
                                    <li><a href="{% url 'task_list' folder='template' %}">Template Tasks</a></li>
                                    <li><a href="{% url 'folder_list' %}"> Folders</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'plan_list' %}"><span class="glyphicon glyphicon-calendar"></span> Plans</a></li>
                            <li><a href="{% url 'search' %}"><span class="glyphicon glyphicon-search"></span> Search</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            {% block login %}{% endblock %}
            {% if user.is_authenticated %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible text-success {{ message.tags }}">
                            <button type="button" class="close" data-dismiss="alert">x</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            {% endif %}
        </div>
    </body>
</html>