{% extends 'tracker/base.html' %}

{% block title  %} Task {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div>
                {% if folders %}
                    <h2>Folders
                        <div class='pull-right'>
                            <a href="{% url 'folder_add' %}" class='btn btn-info'>Add new</a>
                        </div>
                    </h2>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><h4>ID</h4></th>
                                    <th><h4>Name</h4></th>
                                    <th width="25%"><h4>Actions</h4></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for folder in folders %}
                                    <tr>
                                        <td>
                                            <h4>{{ folder.id }}</h4>
                                        </td>
                                        <td>
                                            <h4>{{ folder.name }}</a></h4>
                                        </td>
                                        <td>
                                            <div>
                                                <a href="{% url 'task_list' folder=folder.id %}" class='btn btn-info'>
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                </a>
                                                <a href="{% url 'folder_edit' folder_id=folder.id%}" class='btn btn-primary'>
                                                    <span class="glyphicon glyphicon-wrench"></span>
                                                </a>
                                                <form style='display: inline-block' action="{% url 'folder_delete' folder_id=folder.id%}" method='POST'>
                                                    {% csrf_token %}
                                                    <button type='submit' class='btn btn-danger'>
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h2>You do not have any folders.
                        <div class='pull-right'>
                            <a href="{% url 'folder_add' %}" class='btn btn-info'>Add new</a>
                        </div>
                    </h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}