{% extends 'tracker/base.html' %}

{% block content %}
    <div class="container">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h2 class="text-muted">Change password</h2>
            {% for error in form.non_field_errors %}
                <div class="form-group has-errors text-danger">
                    {{error}}
                </div>
            {% endfor %}
            <form method="post">
                <div class="form-group">
                    <input type="password" name="old_password" class="form-control" placeholder="Old password">
                </div>
                {% for error in form.old_password.errors %}
                    <div class="form-group has-errors text-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <input type="password" name="new_password1" class="form-control" placeholder="New password">
                </div>
                {% for error in form.new_password1.errors %}
                    <div class="form-group has-errors text-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <input type="password" name="new_password2" class="form-control" placeholder="Confirm new password">
                </div>
                {% for error in form.new_password2.errors %}
                    <div class="form-group has-errors text-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-success" value="Change">
                </div>
            </form>
        </div>
	</div>
{% endblock %}