{% extends 'tracker/base.html' %}

{% block title %}Add notification{% endblock %}

{% block content %}
    <div class="top">
        <h3>Add notification</h3>
        <form method="POST">
            {% csrf_token %}
            <table class="table">
                {{ form.as_table }}
            </table>
            <input type="submit" class="btn btn-success" value="Confirm">
        </form>
    </div>
{% endblock %}