{% extends 'tracker/base.html' %}

{% block title %}Show plan{% endblock %}

{% block content %}
    <div class="top">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-sm-5">ID</th>
                        <th>{{ task_plan.id }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Creator</td>
                        <td>{{ task_plan.user }}</td>
                    </tr>
                    <tr>
                        <td>Start Time</td>
                        <td>{{ task_plan.start_time }}</td>
                    </tr>
                    <tr>
                        <td>End Time</td>
                        <td>{{ task_plan.end_time }}</td>
                    </tr>
                    <tr>
                        <td>Interval</td>
                        <td>{{ task_plan.convert_interval_to_str }}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{ task_plan.status }}</td>
                    </tr>
                    <tr>
                        <td>Task template</td>
                        <td>
                            <a href="{% url 'task_show' folder='template' task_id=task_plan.task_template_id %}">{{ task_plan.task_template_id }}</a>
                        </td>
                    </tr>
                    <tr>
                        {% if task_plan.total_tasks %}
                            <td>Total tasks / created tasks</td>
                            <td>{{ task_plan.total_tasks }} / {{ task_plan.created_tasks }}</td>
                        {% else %}
                            <td>Created tasks</td>
                            <td>{{ task_plan.created_tasks }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Last created</td>
                        <td>{{ task_plan.last_created }}</td>
                    </tr>
                    <tr>
                        <td>Tasks</td>
                        <td>
                            {% if folder_plan_list %}
                                {% for folder, task in folder_plan_list %}
                                    <div><a href="{% url 'task_show' folder=folder task_id=task.id %}">ID: {{ task.id }}, name: {{ task.name }}</a></div>
                                {% endfor %}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}