{% extends 'tracker/base.html' %}

{% block title  %} Plan {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div>
                {% if task_plans %}
                    <h2>Plans
                        <div class='pull-right'>
                            <a href="{% url 'plan_add' %}" class='btn btn-info'>Add new</a>
                        </div>
                    </h2>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Interval</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task_plan in task_plans %}
                                    <tr>
                                        <td>{{ task_plan.id }}</td>
                                        <td>{{ task_plan.start_time }}</td>
                                        <td>{{ task_plan.end_time }}</td>
                                        <td>{{ task_plan.convert_interval_to_str }}</td>
                                        <td>{{ task_plan.status }}</td>
                                        <td>
                                            <a href="{% url 'plan_show' task_plan_id=task_plan.id %}" class='btn btn-info'>
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                            </a>
                                            <form style='display: inline-block' action="{% url 'plan_delete' task_plan_id=task_plan.id %}" method='POST'>
                                                {% csrf_token %}
                                                    <button type='submit' class='btn btn-danger'>
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h2>
                        You do not have any plans.
                        <div class='pull-right'>
                            <a href="{% url 'plan_add' %}" class='btn btn-info'>Add new</a>
                        </div>
                    </h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}