{% extends 'tracker/base.html' %}

{% block title %}Show tag{% endblock %}

{% block content %}
    <div class="top">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-sm-5">ID</th>
                        <th>{{ tag.id }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ tag.name }}</td>
                    </tr>
                    <tr>
                        <td>Tasks</td>
                        <td>
                            {% if folder_task_list %}
                                {% for folder, task in folder_task_list %}
                                    <div><a href="{% url 'task_show' folder=folder task_id=task.id %}">ID: {{ task.id }}, name: {{ task.name }}</a></div>
                                {% endfor %}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}