{% extends 'tracker/base.html' %}

{% block title  %} Task {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div>
                {% if tasks %}
                    <h2>Tasks
                        {% if folder != 'executable' and folder != 'archive' and folder != 'template' %}
                            <div class='pull-right'>
                                <a href="{% url 'task_add' folder='without' %}" class='btn btn-info'>Add new</a>
                            </div>
                        {% endif %}
                    </h2>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Priority</th>
                                    {% if folder != 'template' %}
                                        <th>Status</th>
                                    {% endif %}
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in tasks %}
                                    <tr>
                                        <td>{{ task.id }}</td>
                                        <td>{{ task.name }}</td>
                                        <td>{{ task.start_time }}</td>
                                        <td>{{ task.end_time }}</td>
                                        <td>{{ task.priority.name }}</td>
                                        {% if folder != 'template' %}
                                            <td>{{ task.status.name }}</td>
                                        {% endif %}
                                        <td>
                                            {% if task.status.name != 'FAILED' and task.status.name != 'DONE' and folder != 'template' and folder != 'executable' %}
                                                <a href="{% url 'task_edit' folder=folder task_id=task.id %}" class='btn btn-primary'>
                                                    <span class="glyphicon glyphicon-wrench"></span>
                                                </a>
                                            {% endif %}
                                            <a href="{% url 'task_show' folder=folder task_id=task.id %}" class='btn btn-info'>
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                            </a>
                                            {% if task.status.name == 'IN_PROGRESS' %}
                                                <form style='display: inline-block' action="{% url 'task_complete' folder=folder task_id=task.id %}" method='POST'>
                                                    {% csrf_token %}
                                                    <button type='submit' class='btn btn-success'>
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                    </button>
                                                </form>
                                            {% endif %}
                                            {% if folder != 'archive' and folder != 'executable' and folder != 'template' %}
                                                <a href="{% url 'executor_add' folder=folder task_id=task.id %}" class='btn btn-default'>
                                                    <span class="glyphicon glyphicon-send"></span>
                                                </a>
                                            {% endif %}
                                            {% if folder != 'template' and folder != 'executable' %}
                                                <form style='display: inline-block' action="{% url 'task_delete' folder=folder task_id=task.id %}" method='POST'>
                                                    {% csrf_token %}
                                                        <button type='submit' class='btn btn-danger'>
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                </form>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h2>
                        {% if folder == 'executable' or folder == 'archive' %}
                            There are no tasks in {{ folder }}.
                        {% elif folder == 'without' %}
                            There are no tasks in without folder.
                        {% else %}
                            There are no tasks in folder.
                        {% endif %}
                        {% if folder != 'executable' and folder != 'archive' and folder != 'template' %}
                            <div class='pull-right'>
                                <a href="{% url 'task_add' folder=folder %}" class='btn btn-info'>Add new</a>
                            </div>
                        {% endif %}
                    </h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}