{% extends 'tracker/base.html' %}

{% block title %}Show task{% endblock %}

{% block content %}

<div class="top">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-sm-5">ID</th>
                <th>{{ task.id }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Creator</td>
                <td>{{ task.user }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ task.name }}</td>
            </tr>
            {% if folder != 'archive' and folder != 'template' %}
                <tr>
                    <td>Folder</td>
                    <td>{{ task.folder }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>Start Time</td>
                <td>{{ task.start_time }}</td>
            </tr>
            <tr>
                <td>End Time</td>
                <td>{{ task.end_time }}</td>
            </tr>
            <tr>
                <td>Priority</td>
                <td>{{ task.priority.name }}</td>
            </tr>
            {% if folder != 'template' %}
                <tr>
                    <td>Status</td>
                    <td>{{ task.status.name }}</td>
                </tr>
                <tr>
                    <td>Parent Task</td>
                    {% if task.parent_task_id %}
                        <td>
                            <a href="{% url 'task_show' folder=folder task_id=task.parent_task_id %}">ID: {{ task.parent_task_id }}</a>
                        </td>
                    {% else %}
                        <td>None</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Tags
                        {% if folder != 'archive' and folder != 'executable' %}
                            <div class='col-md-2 pull-right'>
                                <a href="{% url 'tag_add' folder=folder task_id=task.id %}" class='top-menu'>
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        {% if task.tags %}
                            {% for tag in task.tags %}
                                {% if folder != 'executable' %}
                                    <div>
                                        <a href="{% url 'tag_show' tag_id=tag.id %}">#{{ tag.name }}</a>
                                        {% if folder != 'archive' %}
                                            <a href="{% url 'tag_delete' folder=folder task_id=task.id tag_id=tag.id %}">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </a>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div>#{{ tag.name }}</div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            None
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    {% if folder != 'executable' %}
                        <td>Notifications
                            {% if folder != 'archive' %}
                                <div class='col-md-2 pull-right'>
                                    <a href="{% url 'notification_add' folder=folder task_id=task.id %}" class='top-menu'>
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {% if task.notifications %}
                                {% for notification in task.notifications %}
                                    <div>
                                        {% if notification.shown %}
                                            <span class="green"> {{ notification.date }} </span>
                                        {% else %}
                                            <span class="red"> {{ notification.date }} </span>
                                        {% endif %}
                                        {% if folder != 'archive' %}
                                            <a href="{% url 'notification_delete' folder=folder task_id=task.id notification_id=notification.id %}">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Executors</td>
                    <td>
                        {% if task.executors %}
                            {% for executor in task.executors %}
                                <div>
                                    {{ executor.user }}
                                    {% if folder != 'executable' %}
                                        <a href="{% url 'executor_delete' folder=folder task_id=task.id executor_user=executor.user %}">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% else %}
                            None
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if folder != 'executable' %}
                <tr>
                    <td>Task Plan</td>
                    <td>
                        {% if task.task_plan %}
                            {% if folder == 'template' %}
                                <div><a href="{% url 'plan_show' task_plan_id=task.task_plan.id %}">ID: {{ task.task_plan.id }}</a></div>
                            {% else %}
                                <div><a href="{% url 'plan_show' task_plan_id=task.task_plan_id %}">ID: {{ task.task_plan.id }}</a></div>
                            {% endif %}
                        {% else %}
                            None
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<div class="sub">
    {% if folder != 'template' and folder != 'archive' or task.subtasks %}
    <h2>Subtasks
        {% if folder != 'executable' and folder != 'archive' and folder != 'template' %}
            <div class='pull-right'>
                <form style='display: inline-block' action="{% url 'attach_subtask' folder=folder task_id=task.id %}">
                    {% csrf_token %}
                    <button type='submit' class='btn btn-success'>
                        <span class="glyphicon glyphicon-pushpin"></span>
                        Add subtask
                    </button>
                </form>
            </div>
        {% endif %}
    </h2>
    {% endif %}
    {% if task.subtasks %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Priority</th>
                        {% if folder != 'template' %}
                            <th>Status</th>
                        {% endif %}
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in task.subtasks %}

                            <tr>
                                <td>{{ task.id }}</td>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_time }}</td>
                                <td>{{ task.end_time }}</td>
                                <td>{{ task.priority.name }}</td>
                                {% if folder != 'template' %}
                                    <td>{{ task.status.name }}</td>
                                {% endif %}
                                <td>
                                    {% if task.status.name != 'DONE' and task.status != 'FAILED' and folder != 'template' and folder != 'executable' %}
                                        <a href="{% url 'task_edit' folder=folder task_id=task.id %}" class='btn btn-primary'>
                                            <span class="glyphicon glyphicon-wrench"></span>
                                        </a>
                                    {% endif %}
                                    <a href="{% url 'task_show' folder=folder task_id=task.id %}" class='btn btn-info'>
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                    {% if task.status.name == 'IN_PROGRESS' %}
                                        <form style='display: inline-block' action="{% url 'task_complete' folder=folder task_id=task.id %}" method='POST'>
                                            {% csrf_token %}
                                            <button type='submit' class='btn btn-success'>
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                        </form>
                                    {% endif %}
                                    {% if folder != 'archive' and folder != 'executable' and folder != 'template' and task.status.name != 'DONE' and task.status != 'FAILED' %}
                                        <a href="{% url 'executor_add' folder=folder task_id=task.id %}" class='btn btn-default'>
                                            <span class="glyphicon glyphicon-send"></span>
                                        </a>
                                    {% endif %}
                                    {% if folder != 'template' and folder != 'executable' and task.status.name != 'DONE' and task.status != 'FAILED' %}
                                        <form style='display: inline-block' action="{% url 'detach_subtask' folder=folder task_id=task.parent_task_id subtask_id=task.id %}" method='POST'>
                                            {% csrf_token %}
                                            <button type='submit' class='btn btn-danger'>
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </form>
                                    {% endif %}
                                    {% if folder != 'template' and folder != 'executable' %}
                                        <form style='display: inline-block' action="{% url 'task_delete' folder=folder task_id=task.id %}" method='POST'>
                                            {% csrf_token %}
                                            <button type='submit' class='btn btn-danger'>
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
{% endblock %}