{% extends 'tracker/base.html' %}

{% block title %}Edit task{% endblock %}

{% block content %}
    <div class="top">
        <h3>Edit task</h3>
        <form method="POST">
            {% csrf_token %}
            <table class="table">
                {{ form.as_table }}
            </table>
            <input type="submit" class="btn btn-primary" value="Edit">
        </form>
    </div>
{% endblock %}