{% extends 'tracker/base.html' %}

{% block title %}Login{% endblock %}

{% block login %}
    <div class="container">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h2 class="text-muted">Login</h2>
            <form method="post">
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-success" value="Login">
                </div>
            </form>
        </div>
	</div>
{% endblock %}