{% extends 'tracker/base.html' %}

{% block title %}SignUp{% endblock %}

{% block login %}
    <div class="container">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h2 class="text-muted">Registration</h2>
            {% for error in form.non_field_errors %}
                <div class="form-group has-errors text-danger">
                    {{error}}
                </div>
            {% endfor %}
            <form method="post">
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Username">
                </div>
                {% for error in form.username.errors %}
                    <div class="form-group has-errors text-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <input type="password" name="password1" class="form-control" placeholder="Password">
                </div>
                {% for error in form.password1.errors %}
                    <div class="form-group has-errors text-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <input type="password" name="password2" class="form-control" placeholder="Confirm password">
                </div>
                {% for error in form.password2.errors %}
                    <div class="form-group has-errors text-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-success" value="Sign Up">
                </div>
            </form>
        </div>
	</div>
{% endblock %}